<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <title>LetsGo</title>
    <link rel="stylesheet" href="../dst/css/ionic.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_rwafia4twvtb7qfr.css">
    <link rel="stylesheet" href="../dst/css/index.min.css">
    <link rel="stylesheet" href="../dst/css/swiper-3.4.0.min.css">
    <link rel="stylesheet" href="../dst/css/profile.css">
    <script src="../dst/js/ionic.bundle.min.js"></script>
    <script src="../dst/js/swiper.min.js"></script>
    <script src="js/LetsGo.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">-->

<div class="bar bar-header news_info log-banner">
    <button ng-click="back()" class="button button-clear iconfont icon-fanhui"></button>
    <h1 class="title">登录</h1>
    <button ng-click="register()" class="button button-clear register">注册</button>
</div>
<div class="list">
    <label class="item item-input item-floating-label">
    <span class="input-label">输入邮箱/用户名</span>
    <input type="text" placeholder="输入邮箱/用户名">
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">输入密码</span>
    <input type="password" placeholder="输入密码">
  </label>
</div>
<div class="log-option">
    <p><a href="">忘记密码？</a></p>
    <p><input type="button" value="登录"></p>
    <p>手机号登录</p>
    <p>第三方账号登录</p>
    <p><span class="iconfont icon-weixin11"></span>
        <span class="iconfont icon-weibo1"></span>
        <span class="iconfont icon-qq-copy"></span></p>
</div>
<!--<script>
        angular.module('myApp', ['ionic'])
            .controller('myController', function() {

            })
    </script>



</body>

</html>-->